body {
  background: #f0f0f0;
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Italic;
  src: url(../fonts/Poppins-Italic.ttf);
}

.div-body {
  background: #ffffff;
  padding: 56px;
  width: 840px;
  height: 651px;
  margin: 171px auto 0px auto;
  border-radius: 24px 24px 200px 24px;
}

.section-data-input {
  /* border: 1px solid red; */
}

.label-day {
  width: 37px;
  height: 21px;
  color: #716f6f;
  font-family: Poppins-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.label-month {
  width: 67px;
  height: 21px;
  font-family: Poppins-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #716f6f;
  margin-left: 210px;
}

.label-year {
  width: 47px;
  height: 21px;
  font-family: Poppins-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #716f6f;
  margin-left: 175px;
}

input[type='text'] {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.01em;
  width: 160px;
  height: 72px;
  padding: 12px 24px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  color: #151515;
  outline: none;
}

input:focus {
  border: 1px solid #854dff;
}

.input-day {
  margin-top: 8px;
}

.input-month {
  margin-left: 38px;
}

.input-year {
  margin-left: 38px;
}

hr {
  margin-top: 48px;
  display: inline-block;
}

.icon-arrow {
  cursor: pointer;
  float: right;
}

.result {
  margin-top: 42px;
  padding: 40px 0 40px;
}

.purple-result {
  font-family: Poppins-Bold;
  font-style: italic;
  font-weight: 800;
  font-size: 104px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #854dff;
}

.black-words-result {
  color: #151515;
  font-family: Poppins-Bold;
  font-style: italic;
  font-weight: 800;
  font-size: 104px;
  line-height: 110%;
  letter-spacing: -0.02em;
}

#span-valid-day {
  color: #ff5959;
  font-family: Poppins-Regular;
  font-weight: 400;
  font-style: italic;
  line-height: 21px;
  margin-top: 8px;
  display: inline-block;
}

#span-valid-month {
  color: #ff5959;
  font-family: Poppins-Regular;
  font-weight: 400;
  font-style: italic;
  line-height: 21px;
  margin: 8px 0 0 92px;
  display: inline-block;
}

#span-valid-year {
  color: #ff5959;
  font-family: Poppins-Regular;
  font-weight: 400;
  font-style: italic;
  line-height: 21px;
  margin: 8px 0 0 69px;
  display: inline-block;
}